@import '../style/fonts.css';
:root {
  --com400: 'Comfortaa Regular';
  --com700: 'Comfortaa Bold';
  --mont400: 'Montserrat Regular';
  --mont700: 'Montserrat Bold';
  --rob400: 'Roboto Regular';
  --rob500: 'Roboto Medium';
  --mainText: #FFFFFF;
  --kong: #C8C8C8;
  --trailerText: #000000;
  --navLink: #ED8E00;
  --title: #F18128;
  --btn: #F18128;
  --adBg: linear-gradient(90.09deg, #3800AF 0%, #C27500 100%);
  --navBg: rgba(1, 3, 5, 0.8);
  --hBg: rgba(7, 15, 25, 0.75);
  --bg: #070F19;
  --filmGrad: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
  --trailerGrad: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
  --colGrad: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
  --serGrad: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
  --footGrad: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
}
*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul li {
  list-style: none;
}
.container {
  max-width: 1180px;
  width: 100%;
  margin:  0 auto;
  padding: 0 15px;
}
.btn {
  background: var(--btn);
  max-width: 166px;
  width: 100%;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  color: var(--trailerText);
  border-radius: 4px;
  font-family: var(--rob500);
  font-size: 14px;
}
.btn:focus {
  background: var(--bg);
  color: var(--mainText);
}
.wrapper {
  background: var(--bg);
}