*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background: url(../images/header-bg.jpg) no-repeat center /cover;
    height: 600px;
    /* background-image: ;
    background-color: ;
    background-size: ;
    background-position: ;
    background-repeat: ; */
    margin-bottom: 50px;
}
header nav {
   display: flex;
   justify-content: space-between; 
   align-items: center;
}
.header-logo {
    color: white;
    font-size: 30px;
    padding: 30px;
    background: rgb(25, 0, 85);
    font-weight: 700;
}
.header-msg {
    color: white;
    font-size: 25px;
    font-weight: 700;
}
.header-title {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
}
.header-btn {
    width: 300px;
    padding: 20px 0;
    background: white;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    text-transform: uppercase;
}
.about h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about-desc {
    text-align: center;
    color: grey;
    font-size: 20px;
    margin-bottom: 30px;
}
.about-btn {
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgb(25, 0, 85);
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0;
    margin-bottom: 50px;
}
.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.works-title {
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: rgb(25, 0, 85);
}
.works-cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}
.card {
    width: 350px;
    border: 1px solid rgb(25, 0, 85);
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.card-title {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(25, 0, 85);
}
.card-img {
    object-fit: cover;
    width: 100%;
    height: 235px;
    margin-bottom: 20px;
}
.card-desc {
    text-align: center;
    color: grey;
    font-size: 18px;
    margin-bottom: 20px;
}
.card-btn {
    width: 200px;
    background: rgb(25, 0, 85);
    color: white;
    font-size: 18px;
    padding: 15px;
    text-align: center;
}
footer {
    background: rgb(25, 0, 85);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img:last-child{
    margin-left: 15px;
    width: 60px;
    background-color: white;
    border-radius: 25%;
}
footer img:first-child{
    margin-right: 15px;
    width: 60px;
    background-color: white;
    border-radius: 25%;
}
