@import '../style/fonts.css';
:root {
  --rob400: 'Roboto Regular';
  --rob700: 'Roboto Bold';
  --rale100: 'Raleway Thin';
  --rale400: 'Raleway Regular';
  --rale700: 'Raleway Bold';
  --rale900: 'Raleway Black';
}

*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin:  0 auto;
  padding: 0 15px;
}

.btn {
  background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
  max-width: 255px;
  width: 100%;
  height: 51px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-family: var(--rale400);
  transition: 200ms all;
}

.btn:hover {
  background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
  color: #b1150a;
  font-size: 20px;
  box-shadow: 0px 0px 40px #417D11;
}

.btn:focus {
  background: linear-gradient(90deg, #84e436 0%, #6bec01 80%);
  color: #b1150a;
  font-size: 15px;
  box-shadow: 0 0 10px #417D11;
}

.wrapper {
  background: #0C0C0C;
}

.header {
  padding-bottom: 48px;
}

/* service */

.service {
  width: 100%;
  height: 59px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.service__logo {
  display: flex;
  flex-wrap: nowrap;
}


.service__icon {
  font-size: 20px;
  margin-right: 5px;
  color: #ffffff;
}

.service__logo:hover {
  color: #69CF17;
}

.service__text {
  font-family: var(--rob400);
  font-size: 16px;
  color: #ffffff;
  transition: 200ms all;
}

.service__text:hover {
  color: #69CF17;
}

.service__list {
  display: flex;
  flex-wrap: nowrap;
}

.service__list li:not(:last-child) {
  margin-right: 20px;
}

.nav-wrapper {
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(125, 115, 115, 0.5);
  border-bottom: 1px solid rgba(125, 115, 115, 0.5);
}

/* header-nav */

.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.header-nav__logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: var(--rob700);
  color: #ffffff;
  line-height: 30px;
  border: 4px solid #06600F;
  border-radius: 4px;
  background: rgba(10, 148, 24, 0.75);
  max-height: 53px;
  padding: 12px 18px;
}

.header-nav__list {
  display: flex;
  flex-wrap: nowrap;
}

.header-nav__list li:not(:last-child) {
  margin-right: 10px;
}

.header-nav__link {
  font-family: var(--rale400);
  font-size: 18px;
  color: #ffffff;
  padding: 22px 10px;
  transition: 250ms all;
}

.header-nav__link:hover {
  background: rgba(105, 207, 23, 0.75);
}

/* intro */

.intro {
  position: relative;
  min-height: 700px;
  display: flex;
}

.intro__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.intro__price-btn {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: space-between;
}

.intro__title {
  font-family: var(--rale900);
  font-size: 72px;
  color: #69CF17;
  margin-bottom: 18px;
}

.intro__title-desc {
  font-family: var(--rale100);
  font-size: 36px;
  color: #69CF17;
  margin-bottom: 18px;
}

.intro__desc {
  font-family: var(--rale100);
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 30px;
}

.intro__price {
  font-family: var(--rale100);
  font-size: 50px;
  color: #ffffff;
  background: rgba(105, 207, 23, 0.5);
  backdrop-filter: blur(12px);
  width: 285px;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN MENU*/

.main {
  display: flex;
  flex-flow: column nowrap;
}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
  background: #393636;
  margin-bottom: 50px;
}

.menu-container {
  max-width: 1600px;
  width: 100%;
  margin:  0 auto;
  padding: 0 15px;
}

.menu-nav {
background: #292929;
height: 65px;
padding: 0 15px;
display: flex;
align-items: center;
}

.menu-nav__list {
  display: flex;
  flex-wrap: nowrap;
}

.menu-nav__list li:not(:last-child) a {
  margin-right: 35px;
}

.menu-nav__link {
  font-size: 18px;
  font-family: var(--rale400);
  color: #ffffff;
  padding-bottom: 20px;
  transition: 200ms all;
}

.menu-nav__link:hover {
  border-bottom: 1px solid #ffffff;
}

.menu {
  background: #393636;
  width: 100%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 370px);
  gap: 30px;
}

.menu__card-link {
  background: #0C0C0C;
  display: flex;
  flex-flow: column nowrap;
  max-width: 370px;
  max-height: 524px;
  widows: 100%;
  padding: 15px 15px 45px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.menu__card-img {
  margin-bottom: 15px;
}

.menu__card-title {
  font-family: var(--rale400);
  font-size: 19px;
  color: #ffffff;
  margin-bottom: 15px;
}

.menu__card-desc {
  font-family: var(--rale100);
  font-size: 19px;
  color: #ffffff;
}

/* MAP */

.map {
  display: flex;
  flex-flow: column nowrap;
}

.map__title {
  font-family: var(--rale700);
  font-size: 50px;
  color: #69CF17;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 20px 0;
}

.map__location {
  width: 100%;
  max-height: 500px;
}

/* FOOTER */

.footer {
  background: linear-gradient(180deg, #000000 0%, rgba(105, 207, 23, 0.5) 100%);
}

.footer__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  min-height: 268px;
  height: 100%;
}

.footer__contact {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -45px;
}

.footer__logo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: var(--rob700);
  color: #ffffff;
  line-height: 30px;
  border: 4px solid #06600F;
  border-radius: 4px;
  background: rgba(10, 148, 24, 0.75);
  max-height: 53px;
  padding: 12px 18px; 
}

.footer__tel {
  font-family: var(--rob700);
  font-size: 20px;
  color: #ffffff;
}

.footer__nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.footer__list {
  display: flex;
  flex-wrap: nowrap;
  max-width: 240px;
  width: 100%;
  justify-content: space-between;
}

.footer__link {
  font-family: var(--rob400);
  font-size: 20px;
  color: #ffffff;
}

.footer__desc {
  background: #1A3406;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: var(--rob400);
  font-size: 16px;
}

.main-about {
  display: flex;
  flex-flow: column nowrap;
}

.main-about__section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.main-about__img {
  width: 100%;
}

.main-about__title {
  font-family: var(--rale700);
  font-size: 55px;
  color: #69CF17;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px rgba(191, 171, 171, 0.4);
  position: absolute;
}

.main-about__desc {
  font-family: var(--rale400);
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
  margin-bottom: 30px;
  line-height: 25px;
}






