@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-style: normal;
    font-family: 'Montserrat';    
}
:root {
    --violetColor: #7177F1;
    --whiteColor: #FFFFFF;
    --blackColor: #323232;
}
.header {
    padding: 13px 0 12px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: var(--whiteColor);
    border-bottom: 1px solid rgba(113, 119, 241, 0.3);
}
.header__logo {
    font-size: 24px;
    line-height: 27px;
    color: var(--blackColor);
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS';
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 15px;
}
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.logo__span {
    color: var(--violetColor);
    font-weight: 600;
    font-style: normal;
    font-family: 'Trebuchet MS';
}
.bars {
    width: 27px;
    position: relative;
    background: var(--blackColor);
    height: 1px;
    margin-right: 3px;
}
.bars::before, .bars::after {
    content: '';
    position: absolute;
    background: var(--blackColor);
    height: 100%;
}
.bars::before {
    top: -7px;
    right: -3px;
    width: 18px;
}
.bars::after {
    top: 7px;
    right: 3px;
    width: 36px;
}
.double__line {
    position: relative;
    width: 27px;
    box-shadow: 0 0 10px 1px rgba(113, 119, 241, 0.8);
    margin-left: 10px;
}
.double__line::before, .double__line::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background: var(--violetColor);
    filter: blur(1px);
}
.double__line::before {
    top: -7px;
}
.double__line::after {
    top: 7px;
}
.header__link {
    font-size: 24px;
    line-height: 16px;
    color: var(--violetColor) !important;
    text-transform: capitalize;
    margin: 0 15px;
    padding: 0 !important;
}
.header__order {
    background: var(--violetColor);
    color: var(--whiteColor) !important;
    padding: 10px 43px !important;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    margin-right: 43px;
}
/* ---------------------------------MAIN slider start---------------------------------------- */
.main {
    padding-top: 30px;
}
.slider__img {
    max-width: 460px;
    width: 100%;
    margin-left: 22px;
}
.slider__content {
    padding-top: 20px;
}
.slider__txt {
    max-width: 520px;
    width: 100%;
}
.slider__title {
    font-size: 24px;
    line-height: 22px;
    color: var(--blackColor);
    text-transform: capitalize;
    font-weight: 600;
}
.slider__desc {
    padding: 10px 0 25px;
    color: var(--violetColor);
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}
.slider__link {
    background: var(--violetColor);
    color: var(--whiteColor);
    padding: 12px 58px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    line-height: 30px;
    margin: 0 auto !important;
    display: block;
    width: max-content;
}
.slider__icons {
    width: 100%;
    margin-top: 50px;
}
.slider__span {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    color: var(--violetColor);
    text-transform: uppercase;
    padding-top: 15px;
}
.carousel-indicators {
    position: static !important;
    margin: 50px 0 75px;
}
.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    opacity: 1 !important;
    background: #828282 !important;
    border-radius: 50% !important;
    margin: 0 15px !important;
    border: none !important; 
}
.carousel-indicators button.active {
    background: var(--violetColor) !important;
}
/* ---------------------------------MAIN slider end---------------------------------------- */
/* ================================================================================================= */
/* ---------------------------------MAIN FRONT start--------------------------------------- */
.front {
    margin-bottom: 75px;
    position: relative;
    display: flex;
    align-items: center;
}
.front__bg {
    position: absolute;
    bottom: -250px;
    right: 0;
    z-index: -1;
}
.front__picture {
    position: relative;
}
.front__img {
    max-width: 460px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.front__point {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 10;
    padding: 24px 30px 23px 20px;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--blackColor);
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(113, 119, 241, 0.5);
    background: var(--whiteColor);
}
.front__five {
    position: absolute;
    top: -14px;
    right: -10px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 100%;
    font-weight: 700;
    font-style: italic;
    color: var(--whiteColor);
    background: #0FDAC2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front__content {
    border-radius: 8px;
    background: var(--whiteColor);
    padding: 30px;
    height: 100%;
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
}
.front__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    color: var(--violetColor);
    text-transform: capitalize;
}
.front__list {
    font-size: 18px;
    color: var(--blackColor);
    line-height: 27px;
    margin: 25px 0 20px !important;
    padding: 0 !important;
    text-transform: capitalize;
}
.front__list li:first-of-type {
    margin-bottom: 36px;
}
.front__btn {
    padding: 14px 32px;
    font-size: 18px;
    line-height: 100%;
    text-transform: uppercase;
    background: var(--violetColor);
    border-radius: 8px;
    box-shadow:  0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    margin-left: 80px;
    display: block;
    width: max-content;
    color: var(--whiteColor);
}

/* ---------------------------------MAIN FRONT end--------------------------------------- */
/* ==================================================================================================== */
/* ---------------------------------MAIN Capabilities start------------------------------- */
.cap__title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: var(--violetColor);
    text-transform: capitalize;
    text-align: center;
}
.accordion-button {
    padding: 15px 30px !important;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--violetColor);
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button span {
    margin-left: 20px;
    display: inline-block;
}
.accordion-button i {
    font-size: 30px;
}
.accordion {
    box-shadow: 0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    overflow: hidden;
    border-radius: 8px;
}
.accordion-body {
    font-size: 18px;
    line-height: 27px;
    padding: 10px 30px 55px;
    text-transform: capitalize;
    color: var(--whiteColor);
    background: var(--violetColor);
}
.accordion-button::after {
    content: '\f0d8';
    background-image: none;
    width: auto;
    height: auto;
    color: var(--violetColor) !important;
    font-family: "Font Awesome 5 Pro";
}
.accordion-button:not(.collapsed)::after {
    background-image: none;
    color: var(--whiteColor) !important;
}
.accordion-button:not(.collapsed) {
    color: var(--whiteColor) !important;
    background: var(--violetColor) !important;
    box-shadow: none;
}
.accordion-item {
    border: none;
    position: relative;
}
.accordion-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 10px;
    background: #DDDDDD;
    z-index: 5;
    border-radius: 8px;
    height: 1px;
}
.accordion-item:last-child::before {
    display: none;
}
.cap__img {
    max-width: 630px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.cap__acc {
    position: relative;
}
.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #9297EF;
    position: absolute;
    z-index: -10;
}
.circle1 {
    top: -50px;
    left: 20px;
}
.cap {
    margin-bottom: 75px;
}
.works {
    margin-bottom: 220px;
    position: relative;
    display: flex;
    align-items: center;
}
.works__bg {
    position: absolute;
    left: 0;
    z-index: -1;
}
.works__title {
    margin-bottom: 30px;
}
.works .nav-pills {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.works .nav-pills .nav-link {
    color: var(--violetColor);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding: 19px 20px;
    text-transform: uppercase;
    background: var(--whiteColor);
    border-radius: 0 !important;
    width: 100%;
    text-align: left;
}
.works .nav-pills .nav-link {
    border-bottom: 1px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.35);
}
.works .nav-pills .nav-link.active {
    background: var(--violetColor) !important;
    color: var(--whiteColor) !important;
}
.works__content {
    border-radius: 8px;
    box-shadow:  0px 0px 5px 3px rgba(113, 119, 241, 0.15);
    background: var(--whiteColor);
    padding: 20px 30px 20px;
}
.works__txt {
    max-width: 630px;
    width: 100%;
}
.works__headline {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    color: var(--violetColor);
}
.works__list {
    margin: 25px 0 20px;
    color: var(--blackColor);
    padding: 0 !important;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
}
.works__list li:first-of-type {
    margin-bottom: 36px;
}
.works__button {
    box-shadow: 0px 0px 5px 1px rgba(113, 119, 241, 0.5);
    background: var(--violetColor);
    border-radius: 8px;
    padding: 12px 62px;
    color: var(--whiteColor);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-transform: capitalize;
    margin-left: 30px;
    display: block;
    width: max-content;
}
.footer {
    margin-bottom: 133px;
    position: relative;
}
.footer__logo {
    margin-bottom: 30px;
}
.footer__list, .footer__elem {
    padding: 0 !important;
}
.footer__link {
    margin: 0 36px;
    font-size: 24px;
    line-height: 30px;
    color: var(--violetColor);
    text-transform: capitalize;
    transition: 300ms;
}
.footer__link:hover {
    border-bottom: 1px solid var(--violetColor);
}
.footer__list + .footer__elem .footer__link {
    margin: 0 0 0 30px;
}








/* ---------------------------------MAIN Capabilities end------------------------------- */

@media(max-width: 1400px) {
    .works__df {
        justify-content: center;
    }
    .works .nav-pills {
        margin-bottom: 30px;
    }
    .works__img {
        display: block;
        margin: 0 auto 30px;
    }
}
@media(max-width: 1200px) {
    .works__bg {
        width: 100%;
    }
}

@media (max-width: 991px) {
    .header__list {
        align-items: flex-start !important;
    }
    .header__link {
        margin: 15px 0;
    }
    .slider__img {
        margin: 30px auto 0;
        display: block;
    }
    .front__bg {
        width: 100%;
        bottom: 0;
    }
    .cap__acc {
        margin-bottom: 30px;
    }
    .works .nav-pills {
        margin-bottom: 30px;
    }
  
   
}
@media (max-width: 575px) {
    .footer__list, .footer__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media(max-width: 550px) {
    .slider__icons {
        flex-direction: column !important;
        align-items: center !important;
    }
    .slider__icons-item {
        margin-bottom: 15px !important;
    }
    .slider__desc {
        font-size: 30px;
        line-height: 35px;
    }
    .front__bg {
        display: none;
    }
    .front__content {
        margin-top: 30px;    
    }
    .front__title {
        font-size: 24px;
    }
    .front__btn {
        margin: 0 auto;
    }
    .front__point {
        border-bottom-right-radius: 70%;
        top: -15px;
    }
    .works__bg  {
        display: none;
    }
    .footer__list, .footer__elem {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .footer__link {
        margin: 0 0 10px 0 !important;
        display: block;
    }
    .circle1 {
        display: none;
    }
}