@import url(fonts.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    background: #151515;
}

a {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }

  .container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header div:first-child{
    background: #282828;
    max-height: 65px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.nav-link img {
    margin: 6px 0;
}

.nav-link a {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 30px;
}

.nav-icons li{
    margin-left: 25px;
}

.header-content {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #151515 100%), url(../image/header-img.jpg) no-repeat center /cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 100px;
    font-weight: 400;
    font-family: 'ProstoOne';
    color: #ffffff;
    margin: 204px 0 30px;
}

.title-link {
    background: #ffffff;
    font-size: 20px;
    font-weight: 500;
    color: #171718;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 300px;
}

section:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:first-child div{
    display: flex;
    flex-wrap: nowrap;  
    align-items: center;
    margin-bottom: 50px;
}

.airpods1 p {
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    margin-top: -140px;
    margin-right: 30px;
}

.airpods2 img {
    margin-left: 26px;
    margin-right: 87px;
}

.airpods2 p {
    width: 100%;
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
}

.airpods3 {
    width: 100%;
    max-width: max-content;
}

.airpods3 p {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.desc-left {
    width: 333px;
    display: flex;
    align-items: center;
    text-align: right;
}

.desc-left::after{
    content: '';
    display: block;
    width: 100%;
    max-width: 61px;
    height: 1px;
    background: #C4C4C4;
    margin: 0 14px;
}

.desc-right {
    width: 333px;
    display: flex;
    align-items: center;
}

.desc-right::before{
    content: '';
    display: block;
    width: 100%;
    max-width: 61px;
    height: 1px;
    background: #C4C4C4;
    margin: 0 14px;
}

section:last-child {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section:last-child div {
    width: 255px;
    height: 312px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
    padding: 15px 47px;
    margin-bottom: 55px;
}

h2 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    margin: 10px 0 20px;
}

.btn {
    display: flex;
    background: #151515;
    color: #ffffff;
    width: 161px;
    height: 34px;
    justify-content: center;
    align-items: center;
}

footer {
    background: #282828;
    height: 215px;
    display: flex;
    align-items: center;
}

.footer {
    margin-left: 130px;
}
