* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    margin: auto 30px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.header-logo {
    display: flex;
    justify-content: center;
    margin: 40px;
}


.header-links {
    display: flex;
    justify-content: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

li a {
    color: grey;
}

li a:hover {
    color: blue;
    width: 50px;
    opacity: 0.5;
    padding: 10px 0;
    border-bottom: 1px solid blue;
    transition: all .25s;
}


.header-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-left {
    background-color: aqua;
    width: 770px;
}

.section-right {
    background-color: aqua;
    width: 400px;
    flex-direction: column;
    text-align: start;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 40px 20px;
    font-size: 20px;
    color:blue;
    opacity: 0.5;
}

.desc {
    color: darkcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
    font-size: 15px;
    margin: 0 40px 50px;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-items: start;
    font-size: 25px;
}

.contact-info {
    color: darkcyan;
    margin-bottom: 50px;
}

main section {
    padding-bottom: 30px;
}

footer section {
    background-color: aqua;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    margin: 20px 40px;
}

.footer-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkcyan;
    margin: 20px 40px;
}

.footer-tel {
    color: darkcyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

