/* @import '../style/fonts.css'; */
@import url(../style/fonts.css);
*,::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Rubik';
  font-weight: 400;
  background: #E5E5E5;
}
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 15px 44px;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.btn {
  max-width: 215px;
  width: 100%;
  padding: 7px 0;
  display: flex;
  justify-content: center;
  background: #3FA5D5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 200ms all;
}
.btn:hover {
  background: #2A86B1;
}
nav {
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-flow: column nowrap;
  /* align-items: center; */
  justify-content: space-between;
  padding: 30px 0;
  width: 100px;
  overflow: hidden;
  overflow-y: auto;
  transition: 200ms;
}
nav:hover {
  width: 234px;
}
nav ul {
  margin: 30px 0;
  width: max-content;
}
nav ul li .fal {
  margin-right: 30px;
  color: #939393;
  width: 40px;
  font-size: 37px;
  display: flex; 
  justify-content: center;
}
nav ul li a{
  display: flex;
  align-items: center;
  margin: 0 30px 55px 30px;
  font-size: 18px;
  color: #939393;
  transition: 200ms;
}
nav ul li a:hover .fal {
  color: #2A86B1;
}
nav ul li a:hover{
  color: #2A86B1;
}


nav ul li:last-of-type a {
  margin-bottom: 0;
}
.logo, .user {
  width: 100%;
  display: flex;
  justify-content: center;
}
header{
  background: url(../images/header-bg.png) no-repeat center /cover;
  background-color: #FFFFFF;
  min-height: 500px;
  border-radius: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 62px;
  margin-bottom: 30px;
}
.header_title{
  max-width: 332px;
  width: 100%;
  font-size: 50px;
  font-weight: 700;
  color: #464748;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}
.header_desc{
  color: #696868;
  max-width: 314px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}
.header_title::before{
  content: '';
  width: 99px;
  height: 52px;
  background: #3FA5D5;
  display: block;
  position: absolute;
  z-index: -1;
}
.section-service{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}
.card{
  background: #FFFFFF;
  border-radius: 15px;
  padding: 32px 19px 19px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 338px;
  max-width: 255px;
  width: 100%;
  justify-content: space-between;
}
.card h2{
  font-size: 20px;
  font-weight: 700;
  color: #2A86B1;
  text-align: center;
}
.about{
  display: flex;
  justify-content: space-between;
  
}
.about-title{
  color: #686868;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 22px;
  padding-left: 15px;
}
.about-news{
  max-width: 825px;
}

.about-desc{
  font-size: 16px;
  color: #545454;
  background: #ffffff;
  border-radius: 8px;
  padding: 15px;
  text-align: justify;
}

.card-info{
  width: 255px;
}
.card-info__block, .about-news__block{
  max-height: 422px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.card-info__news{
  display: flex;
  background: #FFFFFF;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  align-items: center;
}

.news-link__title{
  color: #323232;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 5px;
}
.news-link__desc{
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  max-width: 155px;
  width: 100%;
  font-weight: 300;
}
footer{
  background: #3FA5D5;
  margin-top: 20px;
  padding: 40px 0;
}
.footer-container{
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.footer-logo{
  font-size:50px;
  color: #FFFFFF;
  font-weight: 700;
}
.footer-link{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}
.footer-phone{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.footer-mail{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
}